---
pagination:
  data: collections.posts
  size: 5
  alias: posts
  permalink: "/page/{{ pagination.pageNumber | default(0) }}/"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test av 11ty blog</title>
</head>
<body>
    <h1>Dette er en test av 11ty blog</h1>
    <ul>
        {% for post in posts %}
        <li>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a> - 
            <time>{{ post.date | date("yyyy-MM-dd") }}</time>

            <!-- Display Post Content with Image URL Prefix Handling -->
            <div>
                {{ post.templateContent | safe }}
            </div>
        </li>
        {% endfor %}
    </ul>    
    
    {% if pagination.pageNumber > 0 %}
    <a href="{{ pagination.href.previous }}">Previous</a>
    {% endif %}
    
    {# Set last page number #}
    {% set lastPageNumber = pagination.pages | length - 1 %}
    
    {% if pagination.pageNumber < lastPageNumber %}
    <a href="{{ pagination.href.next }}">Next</a>
    {% endif %}
</body>
</html>
